xcare-fo/dataServices/service.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<!ELEMENT nom (#PCDATA | fo:block)*>
<!ATTLIST nom
	civ CDATA #IMPLIED
>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT role (#PCDATA)>
<!ELEMENT section (nom, personnels)>
<!ELEMENT service (nom, tel, mail, chefService, sections)>
<!ATTLIST service
	xmlns:fo CDATA #FIXED "http://www.w3.org/1999/XSL/Format"
>
<!ELEMENT fo:block EMPTY>
<!ELEMENT sections (section+)>
<!ELEMENT personnel (nom)>
<!ELEMENT personnels (personnel+)>
<!ELEMENT chefService (nom, role)>
